#Remove this line before deploying
_____REMOVE_THIS_LINE_____=True

# ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
BOT_TOKEN = "1944836636:AAFmEh-YY4qn2dx9YQA2-7L047XOeA0t9y0"
GDRIVE_FOLDER_ID = "1-1X_tWN5ta7joTdCtduhY--c-Cs-VuEh?sort=13&direction=a"
OWNER_ID = 1847249788
DOWNLOAD_DIR = "/home/username/mirror-bot/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = 20
IS_TEAM_DRIVE = ""
INDEX_URL = ""
USER_SESSION_STRING = "1BVtsOJcBu612m52jTNe1VPR5rt6I-yxROaH1LFt27vedYjn2tXb2Ak3GiwIYr3ZyssQhpVu1n3PHGrrViny-oh72eV2HYqjfQW3LuUi4MYmgnGES3gO29jFuwV7_xuf9MdRSYrKE93NisHChss-051-ioSqGIfljI35Xzd7YPwOu2kPlfIq7I0ZV1GeKEsZCSv0T_RgZ0RLl8thRsjgd_me3_8t0laRRX48ZA98nG7sjZoMa1LfD7NGJFvT_C4Bgd1FmArzGyLSSFPsjgEzJcyrLvp4I4kchEPnXSPWxo4ZQTO108L_lA63CFOzgsYnTiDLNkKe5_3q4noo2TerMI3Q1riRIVUk="
TELEGRAM_API = 3455489
TELEGRAM_HASH = "182870109f1e37e3d9fd951aef006054"
USE_SERVICE_ACCOUNTS = ""
MEGA_KEY = ""
MEGA_USERNAME = ""
MEGA_PASSWORD = ""
